[submodule "DuckDB/duckdb-vss/duckdb"]
	path = DuckDB/duckdb-vss/duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "DuckDB/duckdb-vss/extension-ci-tools"]
	path = DuckDB/duckdb-vss/extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools.git
[submodule "PostgreSQL/pgvector/postgres"]
	path = PostgreSQL/pgvector/postgres
	url = https://github.com/postgres/postgres.git
	branch = REL_16_STABLE
[submodule "PostgreSQL/VBASE/MSVBASE"]
	path = PostgreSQL/VBASE/MSVBASE
	url = https://github.com/microsoft/MSVBASE.git
[submodule "PostgreSQL/pgvector/pgvector"]
	path = PostgreSQL/pgvector/pgvector
	url = https://github.com/pgvector/pgvector.git

[submodule "Vector-augmented_SQL_analytics/dataset/third_party/big-ann-benchmarks"]
	path = Vector-augmented_SQL_analytics/dataset/third_party/big-ann-benchmarks
	url = https://github.com/harsha-simhadri/big-ann-benchmarks.git
[submodule "Vector-augmented_SQL_analytics/dataset/third_party/tpch-kit"]
	path = Vector-augmented_SQL_analytics/dataset/third_party/tpch-kit
	url = https://github.com/gregrahn/tpch-kit.git
[submodule "Vector-augmented_SQL_analytics/dataset/third_party/tpcds-kit"]
	path = Vector-augmented_SQL_analytics/dataset/third_party/tpcds-kit
	url = https://github.com/gregrahn/tpcds-kit.git
